@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #fff;
    min-height: 100vh;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}
.logo{
    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 20px;
    
}

#toogle{
    position: absolute;
    top: 0;
    right:0;
    width: 60px;
    height: 60px;
    background: #9051ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
